*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
color: var(--texto);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.presas p{
padding-top : 200px;
}
:root{
    --principal: #b1f03c;
    --texto: color: #474a41;
    --secundario: #879e5c
}