*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    color: var(--texto);
    background-color: var(--principal);
    text-align: center;
}
#depredadores{
    background-color: var(--secundario);
}
#presas{
    background-color: var(--secundario);
}
#domesticos{
    background-color: var(--secundario);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

:root{
    --principal: #b1f03c;
    --texto: #474a41;
    --secundario: #879e5c;
}