*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    background-color: #f0f2f2;
}
.head{
    background-image: url(fotos/headfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
}
#menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-content: flex-start;
    margin-left: 15px;
}
a{
   color: #f2f2f2;
   text-decoration: none;
}
li{
    list-style: none;
}
.titulo{
    margin: auto;
    margin-left: 5%;
}
.cat{
    height: 100vh;
    background-color: #4F6343;
    display: flex;
    text-align: center;
    justify-content: center;
    /* alin */
    flex-direction: column;
}
.cajas{
    display: flex;
    justify-content: space-evenly;
}
.categoria{
    width: 18em;
    height: 65vh;
    background-color: #f2f2f2;
    color: #4F6343;
    margin: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.tit-info{
    margin: 5px;
}
.animales{
    color: #4F6343;
}
#celu{
    display: none;
}
#pfooter{
    margin-top: 5px;
    font-weight: 500;
}
footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4F6343;
}
.titulo-data{
    text-align: center;
    margin: 15px;
}
.info1{
    display: flex;
    justify-content: center;
    text-align: right;
    margin: 10px;
    font-size: 1.5em;
}
.info2{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    font-size: 1.5em;
}
.texto{
    margin: 5px;
    align-self: center;
}

@media screen and (max-width: 480px){
    #compu{
        display: none;
    }

    #celu{
        display: block;
    }
    .celumenu{
        display: none;
        text-align: left;
        width: 100%;
        height: max-content;
        margin-top: 0;
    }
     nav ul li:hover > ul.celumenu{
        display: block;
        display: flex;
        flex-direction: column;
        animation-duration: 3ms;
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 400px;
    }

    .categoria{
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    
    .cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .animales{
        display: flex;
        flex-direction: column;
    }
    .info1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .info2{
        isplay: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer{
        margin: 0;
    }
}