*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position:fixed;
    top:0;
    padding: 20px;
    font-size: 30px;
    background: #74d337;
    box-shadow: 0px 0px 0px 3px #B1F03C;
}
nav a{
    color:#fff;
    text-decoration: none;

}
nav a:hover{
    color: orange;
}
header{
    padding-top: 85px;
    background-color: #B1F03C;
    display: flex;
    justify-content: center;
}
.header h1{
    padding: 100px;
    font-size: 100px;
    height: 220px;
}

.header p{
    text-align: center;
    font-size: 40px;
}
.Seccion{
    justify-content: left;
    background-color: #879E5C;
}
.Seccion h1{
    text-align: center;
    font-size: 50px;
}
.Seccion p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
img{
    margin-bottom: 15px;
    border-radius: 20px;
}
h2{
    font-size: 30px;
    margin-bottom: 15px;
}
#contenido{
    display: flex;
    justify-content: left;
    justify-content: space-evenly;
}
#contenido h2{
    text-align: center;
}
#contenido img{
    box-shadow: 0px 0px 0px 5px #74884f;
}
#Caja{
    width: 400px;
}
h1{
    text-align: center;
    font-size: 40px;
}
#depredadores{
    display: flex;
    justify-content: left;
    justify-content: space-evenly;
    width: 900px;
}
#depredadores img{
    height: 200px;
    margin-left: 15px;
}
.derecha{
    margin-top: 15px;
    margin-left: 15px;
}
.derecha p{
    font-size: 20px;
}